{% extends "base.html" %}
{% block content %}
    <div class="row justify-content-between about">
        <div class="about--content col-lg-4">
            {{ page.content }}
            <h1>Contact</h1>
            <a href="mailto:{{ page.email }}" class="tag tag--red"><i class="fa fa-envelope"></i> us@cottagelabs.com</a><br>
        </div>

        <div class="col-lg-7">
            <div class="partners">
                {% include "partners.html" %}
            </div>
            <div class="partners">
                {% include "team.html" %}
            </div>
        </div>

    </div>
{% endblock %}