{% extends "base.html" %}
{% block content %}
    <div class="row justify-content-between about">
        <div class="about--content col-lg-4">
            {{ page.content }}
        </div>

        <div class="col-lg-7">
            <div class="partners">
                {% include "partners.html" %}
            </div>
            {% include "team.html" %}
            <div class="partners">
                {% include "team_row1.html" %}
            </div>
            <div class="partners">
                {% include "team_row2.html" %}
            </div>
            <div class="partners">
                {% include "team_row3.html" %}
            </div>
        </div>
    </div>
{% endblock %}