{% extends "base.html" %}
{% block content %}
    <div class="row justify-content-between about">
        <div class="about--content col-lg-4">
            {{ page.content }}
            <p><a href="/contact" class="tag tag--green">Get in touch</a></p>
            <p><a href="/open-values" class="tag tag--green">Our Values</a></p>
        </div>

        <div class="col-lg-7">
            <div class="partners">
                <h1>Managing Partners</h1>
                <div class="partners-profiles">
                {% for p in pages|selectattr("title", "eq", "Team") %}

                    {% for partner in p.partners %}
                    <ul>
                        <li><img alt="{{ partner.name }}" src="/images/profiles/{{ partner.image }}"></li>
                        <li><h2>{{ partner.name }}</h2></li>
                        <li><strong>{{partner.role}}</strong></li>
                        <li>{{partner.bio}}</li>
                    </ul>
                    {% endfor %}

                {% endfor %}
                </div>
            <div class="team">
                <h1>Meet the team</h1>
                {% for p in pages|selectattr("title", "eq", "Team") %}
                    <p>{{ p.content }}</p>
                    <div class="team-profiles">
                    {% for member in p.team %}
                        <ul>
                            <li><img alt="{{ member.name }}" src="/images/profiles/{{ member.image }}"></li>
                            <li><h2>{{ member.name }}</h2></li>
                            <li><strong>{{member.role}}</strong></li>
                            <li>{{member.bio}}</li>
                        </ul>
                    {% endfor %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}