{% extends "base.html" %}
{% block content %}
    <div class="event-page content {{ page.title }}-content row align-items-stretch">
        <div class="col-md">
            <div class="event-header">
                <h1>{{ page.conferencetitle }} <a class="icon-link" href="{{ page.conferencelink }}" target="_blank"><i class="fas fa-link fa-xs"></i></a></h1>
            </div>
            {{ page.content }}
        </div>
        <div class="col-md-6 {{ page.title }}-background">
            <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/events/{{ page.background }}" alt=""/>
        </div>
    </div>
{% endblock %}
