{% extends "base.html" %}
{% block content %}
<div class="row justify-content-between">
    <div class="content col-lg-8">
        <h1>{{ page.title }}</h1>
        {{ page.content }}
        {% if page.projects %}
        <h2>Featured Projects:</h2>
        <ul class="featured_projects">
            {% for title in page.projects %}
            {% set article = articles | selectattr('title', 'equalto', title) | first %}
            {% if article %}
                <li>{% include "partials/_project-thumbnail.html" %}</li>
            {% endif %}
            {% endfor %}
        </ul>
        {% endif %}

        {% if page.tags %}
        <h2>Related Technologies:</h2>
        {% with tags=page.tags %}
            {% include "partials/_related_technologies.html" %}
        {% endwith %}
        {% endif %}
    </div>
    <div class="col-lg-3">
        {% include "explore.html" %}
    </div>
</div>
{% endblock %}
