<section id="explore-more">
    <h1>Explore More</h1>

    <p>Discover the intricacies of our projects and how we bring them to life.</p>

    <h3>Project lifecycle</h3>
    <p>Dive into the journey of our projects, from inception to completion.</p>
    <a href="/project-lifecycle" class="tag tag--green">Read more...</a>

    <h3>Data lifecycle</h3>
    <p>Gain a deeper understanding of how we manage data throughout its lifecycle</p>
    <a href="/data-lifecycle" class="tag tag--green">Read more...</a>
</section>

