<section class="explore-more explore-more--content">
    <h2>Discover how we bring your projects to life</h2>

    <h3>Project lifecycle</h3>
    <p class="explore-more--section">
        Dive into the journey of our projects, from inception to completion.
        <a href="/project-lifecycle" class="tag tag--read-more tag--green">Read more...</a>
    </p>


    <h3>Data lifecycle</h3>
    <p class="explore-more--section">
        Gain a deeper understanding of how we manage data throughout its lifecycle
        <a href="/data-lifecycle" class="tag tag--read-more tag--green">Read more...</a>
    </p>
</section>

