<div class="container">
    <img id="cottage-shape" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/cottage.svg" alt=""/>
    <div class="row">
        <div class="contact col-7">
            <p>
                <a href="/contact">Contact Us</a><br>
            </p>
            <p>
                <span style="margin-right: 10px">Follow us: </span>
                <a href="https://github.com/CottageLabs/" title="Follow us on Github" style="margin-right: 1rem;">
                    <i class="fa fa-github"></i> GitHub
                </a>

                <a href="https://www.linkedin.com/company/cottagelabs/" title="Follow us on LinkedIn" style="margin-right: 1rem;">
                    <i class="fa fa-linkedin"></i> LinkedIn
                </a>

                <a href="https://x.com/cottagelabs" title="Follow us on Twitter / X" style="margin-right: 1rem;">
                    <strong>𝕏</strong>/<i class="fa fa-twitter"></i> X / Twitter
                </a>
            </p>
            <p><span>&copy; Cottage Labs LLP 2011-{{ NOW | strftime('%Y') }}. All site content CC-BY</span></p>
            <p><a href="/privacy-policy">Privacy Policy</a></p>
        </div>
        <div class="registration col">
            {% include "registration.html" %}
        </div>
    </div>
</div>