<div class="container">
    <div class="contact">
        <a href="mailto:us@cottagelabs.com"><i class="fa fa-envelope"></i>us@cottagelabs.com</a>
        <p class="social-media" style="margin-bottom: 0">Follow us:
            <a href="https://www.twitter.com"><i class="fa fa-twitter"></i></a>
            <a href="https://www.facebook.com"><i class="fa fa-facebook"></i></a>
            <a href="https://www.linkedin.com"><i class="fa fa-linkedin"></i></a>
       </p>
    </div>
    <div>
        <span>&copy; Cottage Labs LLP 2011-2023. All site content CC-BY</span>
    </div>
</div>