{% extends "base.html" %}
{% block content %}
    <div class="row homepage">
        <section id="section-links" class="section-links col col-lg-4">
                <h1>MAKE THE MOST OF YOUR DATA</h1>
                <div class="links-container">
                    <a href="{{ SITEURL }}/open-access-infrastructure" class="section-link"><div id="oa-logo" class="section-link--icon" alt="open access icon"></div><span class="section-link--text">Open access infrastructure</span></a>
                    <a href="{{ SITEURL }}/data-visualisation" class="section-link"><div id="dv-logo" class="section-link--icon" alt="data visualisation icon"></div><span class="section-link--text">Data visualisation</span></a>
                    <a href="{{ SITEURL }}/data-repositories" class="section-link"><div id="dr-logo" class="section-link--icon" alt="data repositories icon"></div><span class="section-link--text">Data repositories</span></a>
                    <a href="{{ SITEURL }}/bespoke-development" class="section-link"><div id="bd-logo" class="section-link--icon" alt="bespoke developement icon"></div><span class="section-link--text">Bespoke development</span></a>
                </div>
        </section>
        <section id="section-clients" class="col col-lg-8">
                <h2>Pleasure To Work With</h2>
                <div class="clients-logos">
                    <img class="clients-logo" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/clients/mdr.svg" alt="MDR">
                    <img class="clients-logo" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/clients/doaj.svg" alt="DOAJ">
                    <img class="clients-logo" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/clients/nglp.svg" alt="NGLP">
                    <img class="clients-logo" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/clients/oa.svg" alt="CoalitionS" style="padding: 2.25rem;">
                    <img class="clients-logo" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/clients/deepgreen.svg" alt="DeepGreen">
                    <img class="clients-logo" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/clients/wna.svg" alt="World Nuclear Association">
                    <img class="clients-logo" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/clients/materiom.svg" alt="Materiom">
                    <img class="clients-logo" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/clients/invenio.svg" alt="Inverio">
                    <img class="clients-logo" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/clients/wpi.svg" alt="Digital WPI">
                </div>
        </section>
    </div>
{% endblock %}
