{% extends "base.html" %}
{% block content %}
    <div class="row justify-content-between lifecycle">
        <div class="content col-lg-6">
            {{ page.content }}
            <a href="{{ SITEURL }}/projects/"><span class="tag tag--read-more tag--green">See how we do it in our projects.</span></a>
        </div>
        <div class="col-lg-6">
            <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/{{ page.image }}" alt="Data Lifecycle graph">
        </div>
    </div>
{% endblock %}