{% extends "base.html" %}
{% block content %}
    <div class="row justify-content-between lifecycle">
        <div class="content col-md">
            {{ page.content }}
            <p style="margin-top: 3em">
                <a href="/contact" class="tag tag--green">Talk to us</a>
                <a class="tag tag--green" href="{{ SITEURL }}/projects/">Explore our case studies</a>
            </p>
        </div>
        <div class="col-md-6">
            <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/{{ page.image }}" alt="{{ page.image_alt }}">
        </div>
    </div>
{% endblock %}