<div class="container">
    <a class="navbar-brand" href="/">
        <img id="logo" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/logo.svg" alt="Cottage Labs Logo">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="nav-links collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <div class="dropdown nav-item">
                <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    How can we help?
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="/open-access-infrastructure">Open Access infrastructure</a>
                    <a class="dropdown-item" href="/data-visualisation">Data visualisation</a>
                    <a class="dropdown-item" href="/data-repositories">Data repositories</a>
                    <a class="dropdown-item" href="/bespoke-development" id="">Bespoke development</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/project-lifecycle">Your project lifecycle</a>
                    <a class="dropdown-item" href="/data-lifecycle">Your data lifecycle</a>
                </div>
            </div>
            <li class="nav-item">
                <a class="nav-link" href="/projects">Our projects</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/about">About us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/">Homepage</a>
            </li>
        </ul>
    </div>
</div>