{% extends "base.html" %}
{% block content %}
    {% if article.tags %}
        {% with tags=article.tags, all=True %}
            {% include "partials/_related_technologies.html" %}
        {% endwith %}
    {% endif %}
    <h1>{% if article.name %}{{ article.name }}{% else %}{{ article.title }}{% endif %}</h1>
    <div class="project-page">
        <div class="project-page--section project-page--intro row">
            <div class="col-md-2">
                <a class="thumbnail" href="{{ article.externalurl }}" title="{{ article.title }}" target="_blank">
                    <div class="project-thumbnail--{{ article.title }}">
                        {% if article.logo %}
                            <img class="project-logo"
                                 src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/projects/{{ article.logo }}"
                                 alt="{{ article.title }}">{% else %}<p>{{ article.title }}</p>
                        {% endif %}
                    </div>
                </a>
            </div>
            <div class="col-md-9">
                <!-- negative margin to overwrite usual 3rem margin under the article.content par -->
                {{ article.content }}
            </div>
        </div>
        <div class="project-page--section project-page--challenge">
            <div class="project-page--section--text brown">
                <h2><img class="icon" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/icons/challenge.svg"
                         aria-hidden="true">Challenge</h2>
                {{ article.challenge.text }}
            </div>
            {% if article.challenge.screenshot %}
                <img class="project-page--section--screenshot screenshot" aria-hidden="true"
                     alt="screenshot from {{ article.title }} project"
                     src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/screenshots/{{ article.challenge.screenshot }}"
                     id="project-screenshot--{{ article.title }}--1"/>
            {% endif %}
        </div>

        <div class=" project-page--section project-page--solution">
            {% if article.solution.screenshot %}
                <img class="project-page--section--screenshot screenshot" aria-hidden="true"
                     alt="screenshot from {{ article.title }} project"
                     src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/screenshots/{{ article.solution.screenshot }}"
                     id="project-screenshot--{{ article.title }}--2"/>
            {% endif %}
            <div class="project-page--section--text green">
                <h2><img class="icon" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/icons/solution.svg"
                         aria-hidden="true">Solution</h2>
                {{ article.solution.text }}
            </div>
        </div>

        <div class="project-page--section project-page--success">
            <div class="project-page--section--text red">
                <h2><img class="icon" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/icons/success.svg"
                         aria-hidden="true">Success</h2>
                {{ article.success.text }}
            </div>
            {% if article.success.screenshot %}
                <img class="project-page--section--screenshot screenshot" aria-hidden="true"
                     alt="screenshot from {{ article.title }} project"
                     src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/screenshots/{{ article.success.screenshot }}"
                     id="project-screenshot--{{ article.title }}--3"/>
            {% endif %}
        </div>

    </div>
{% endblock %}