{% extends "base.html" %}
{% block content %}
<div class="project-page overflow-hidden">
    <div class="project-page--intro row">
        <div class="col-md-3 align-self-center">
            <img class="project-logo" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/projects/{{article.logo}}" alt="{{ article.title }} page">
        </div>
        <div class="col-md-9" style="margin-bottom: -3rem">  <!-- negative margin to overwrite usual 3rem margin under the article.content par -->
            {{ article.content }}
        </div>
    </div>
    <div class="project-page--challenge row">
        <div class="col-md-6 brown align-self-center">
            <h2><img class="icon" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/icons/challenge.svg" aria-hidden="true">CHALLANGE</h2>
            {{ article.challenge.text }}
        </div>

        <div class="col-md-6">
            <img class="screenshot" aria-hidden="true" alt="screenshot from {{ article.title }} project" src="{{ article.challenge.screenshot }}" />
        </div>
    </div>

    <div class="project-page--solution row">
        <div class="col-md-6">
            <img class="screenshot" aria-hidden="true" alt="screenshot from {{ article.title }} project" src="{{ article.solution.screenshot }}" />
        </div>
        <div class="col-md-6 green align-self-center">
            <h2><img class="icon" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/icons/solution.svg" aria-hidden="true">SOLUTION</h2>
            {{ article.solution.text }}
        </div>
    </div>

    <div class="project-page--success row gy-md-5">
        <div class="col-md-6 red align-self-center">
            <h2><img class="icon" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/icons/success.svg" aria-hidden="true">SUCCESS</h2>
            {{ article.success.text }}
        </div>

        <div class="col-md-6">
            <img class="screenshot" aria-hidden="true" alt="screenshot from {{ article.title }} project" src="{{ article.success.screenshot }}" />
        </div>
    </div>

</div>
{% if article.tags %}
<h2>Related Technologies:</h2>
{% with tags=article.tags %}
    {% include "partials/_related_technologies.html" %}
{% endwith %}
{% endif %}



{% endblock %}