.explore-more {
  &--content {
    position: relative; /* Set position to relative for pseudo-element positioning */

    &::before {
      content: ''; /* Required for pseudo-elements */
      position: absolute;
      top: 0;
      left: -20px;
      bottom: 0;
      width: 30px; /* Adjust the width of the shadow as needed */
      box-shadow: -10px 0 10px -10px #BE1242; /* Adjust the shadow properties as needed */
    }
  }
  &--section {
    overflow: hidden;
    a {
      margin-top: 1rem;
    }
  }
}