.homepage {
  @media (min-width: 992px) {
    position: relative;
    min-height: 74vh;
    top: 30%;
    .section-links {
      background-color: $white;
      box-shadow: 0 0 20px -10px $red;
      padding-top: 15rem;
      padding-left: 2rem;
      margin-top: -12rem;
    }
    .section-clients {
      padding: 2rem;
    }
  }
  @media (max-width: 991px) {
    display: block;
    .section-links {
      position: relative;
      background-color: $white;
      padding: 2rem;
    }
    .section-clients {
      padding: 2rem;
    }
  }

  .links-container {
    display: flex;
    flex-direction: column;

    .section-link {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin: 1rem 0;
      max-width: 100%;

      &--text {
        font-family: 'Manrope', sans-serif;
        color: $black;
        text-decoration: none;
        font-size: 1.5rem;
        font-style: normal;
        line-height: normal;
        font-weight: 300;
        letter-spacing: 0.225rem;
        overflow: hidden;
        text-overflow: ellipsis;
        padding-left: 1rem;
        text-transform: uppercase;
      }

      &--icon {
        min-width: 4.75rem;
        height: 3.75rem;
        background-repeat: no-repeat;
        background-position: center;
      }

      &:hover > span.section-link--text {
        color: $red;
      }
    }
  }

  #oa-logo {
    background-image: url("../images/icons/icon-OA.svg");
  }

  a.section-link:hover > div#oa-logo {
    background-image: url("../images/icons/icon-OA-hover.svg");
  }

  #bd-logo {
    background-image: url("../images/icons/icon-BD.svg");
  }

  a.section-link:hover > div#bd-logo {
    background-image: url("../images/icons/icon-BD-hover.svg");
  }

  #dr-logo {
    background-image: url("../images/icons/icon-DR.svg");
  }

  a.section-link:hover > div#dr-logo {
    background-image: url("../images/icons/icon-DR-hover.svg");
  }

  #dv-logo {
    background-image: url("../images/icons/icon-DV.svg");
  }

  a.section-link:hover > div#dv-logo {
    background-image: url("../images/icons/icon-DV-hover.svg");
  }

  @keyframes moveCarousel {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-30rem);
    }
  }

  .carousel-wrapper {
    position: relative;
    width: 27rem; // Adjust width as needed
    margin: 0 auto;

    .clients-logos {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      opacity: 0;
      display: grid; // Maintain grid layout
      grid-template-columns: repeat(3, 1fr); // 3-column grid
      gap: 1.25rem; // Adjust spacing between logos
      transition: opacity 1s ease-in-out; // Smooth fade-in/out transition
      margin: auto;

      h2 {
        text-align: center;
      }

      .set-1 {
        animation: fadeInOut 8s infinite;
      }

      .set-2 {
        animation: fadeInOut 8s infinite;
        animation-delay: 4s; // Delay the animation of the second div by 4 seconds
      }

      .clients-logo {
        background-color: rgba($rosy-brown, 0.2);
        width: 7.5rem;
        height: 7.5rem;
        padding: 1.25rem 1.25rem;
        border-radius: 0.625rem;
        box-shadow: 0px 4px 4px 0px rgba(190, 18, 66, 0.25);
        margin-right: 1.25rem; /* Optional: Adjust spacing between logos */
      }
    }

  }

}

@keyframes fadeInOut {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}