.homepage {
    @media (min-width: 992px) {
        position: relative;
        min-height: 74vh;
        top: 30%;
        .section-links {
            background-color: $white;
            box-shadow: 0 0 20px -10px $red;
            padding-top: 15rem;
            margin-top: -12rem;
        }
    }
    @media (max-width: 991px) {
        display: block;
        .section-links {
            position: relative;
            background-color: $white;
            padding: 2rem;
        }
    }

    .links-container {
        display: flex;
        flex-direction: column;

        .section-link {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin: 1rem 0;
            max-width: 100%;

            &--text {
                font-family: 'Manrope', sans-serif;
                font-size: 1.5rem;
                font-style: normal;
                line-height: normal;
                font-weight: 300;
                letter-spacing: 0.225rem;
                overflow: hidden;
                text-overflow: ellipsis;
                padding-left: 1rem;
                text-transform: uppercase;
            }

            &--icon {
                min-width: 4.75rem;
                height: 3.75rem;
                background-repeat: no-repeat;
                background-position: center;
            }

            &:hover > span.section-link--text {
                color: $red;
            }
        }
    }

    #oa-logo {
        background-image: url("../images/icons/icon-OA.svg");
    }

    a.section-link:hover > div#oa-logo {
        background-image: url("../images/icons/icon-OA-hover.svg");
    }

    #bd-logo {
        background-image: url("../images/icons/icon-BD.svg");
    }

    a.section-link:hover > div#bd-logo {
        background-image: url("../images/icons/icon-BD-hover.svg");
    }

    #dr-logo {
        background-image: url("../images/icons/icon-DR.svg");
    }

    a.section-link:hover > div#dr-logo {
        background-image: url("../images/icons/icon-DR-hover.svg");
    }

    #dv-logo {
        background-image: url("../images/icons/icon-DV.svg");
    }

    a.section-link:hover > div#dv-logo {
        background-image: url("../images/icons/icon-DV-hover.svg");
    }


    @media (min-width: 992px) {
        #section-clients {
            padding: 3rem 3rem 1rem 3rem;
            text-align: center;
            .content {
                width: 25rem;
                margin: auto;
            }
        }

    }
    @media (max-width: 991px) {
        #section-clients {
            position: relative;
            text-align: center;
            padding: 2rem;
            .content {
                width: 100vw;
                margin: auto;
            }
        }
    }

    .clients-logos {
        display: flex;
        align-items: flex-start;
        align-content: flex-start;
        margin: auto;
        gap: 1.25rem;
        flex-wrap: wrap;
        max-width: 25rem;
    }

    .clients-logo {
        width: 7.5rem;
        height: 7.5rem;
        padding: 1.25rem 1.25rem;
        border-radius: 0.625rem;
        background: rgba(255, 255, 255, 0.50);
        box-shadow: 0px 4px 4px 0px rgba(190, 18, 66, 0.25);
    }
}