.project-page {
  &--section {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    .project-logo {
      width: 90%;
      height: auto;
    }
    .icon {
      padding-right: 1rem;
    }
    &--text{
      flex-basis: 50%;
      padding: 2rem 1rem;
      &.red {
        border-left: 5px solid $red;
        h2 {
          color: $red;
        }
      }
      &.green {
        border-left: 5px solid $green;
        h2 {
          color: $green;
        }
      }
      &.brown {
        border-left: 5px solid $brown;
        h2 {
          color: $brown;
        }
      }
    }
    &--screenshot {
      flex-grow: 1;
      .screenshot {
        border-radius: 0.625rem;
        box-shadow: 0px 4px 4px 0px rgba(96, 62, 31, 0.25);
      }
    }
  }
  &--intro {
    margin-bottom: 3rem;
  }
}
