body {
  position: relative;
  margin: 0;
  padding: 0;
  background-color: $baby-powder;
  font-family: Montserrat, sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: $black;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  min-height: calc(100vh - $footer-height - $nav-height);
  overflow: auto;
  flex: 1;
  padding: 1rem;
}

::-webkit-scrollbar {
  display: none;
}

main:has(.homepage) {
  overflow: visible; /* This will enable vertical scrolling if content exceeds viewport height */
}

p {
  margin-bottom: 1.5rem;
}

.thumbnail {
  position: relative;
  width: 7.5rem;
  height: 7.5rem;
  border-radius: 0.625rem;
  box-shadow: 0px 4px 4px 0px rgba($red, 0.25);
  text-align: center;
  line-height: 150%;
  overflow: hidden;

  &--dark {
    background: $black;
  }

  &--light {
    background: $white;
  }

  &:focus, &:hover {
    box-shadow: 0px 4px 4px 0px rgba(148, 1, 1, 0.5);

    .background {
      opacity: 1;
    }

  }

  .project-logo,
  .client-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 90%;
    min-width: 90%;
    width: 90%;
    max-height: 90%;
  }

}

.change_underline_color_on_hover {
  position: relative; // Ensures the pseudo-element positionss itself relative to the anchor
  text-decoration: none; // Remove default underline
  color: $black; // Change link color to whatever you want
  background: linear-gradient(
                  to right,
                  $black, /* Black */
                  $black /* Black */
  ),
  linear-gradient(
                  to right,
                  $green 0%, /* Green */
                  $green 75%, /* Green */
                  $red 75%, /* Red */
                  $red /* Red */
  );
  background-size: 100% 1px, 0 2px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;

  &:hover {
    background-size: 0 1px, 100% 2px;
  }
}

img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.underline_on_hover {
  display: table;
  position: relative; // Ensures the pseudo-element positionss itself relative to the anchor
  text-decoration: none; // Remove default underline
  background: linear-gradient(
                  to right,
                  $green 0%,
                  $green 75%,
                  $red 75%,
                  $red
  ) no-repeat 0 100%;
  background-size: 0 2px;
  transition: background-size 400ms;

  &:hover {
    background-size: 100% 2px;
  }
}

a:not(.navbar-brand) {
  text-decoration: none;
}

.fa {
  margin-right: 10px;
}

h1 {
  margin-bottom: 2rem;
  font-family: 'Manrope', sans-serif;
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2rem; /* 85.714% */
  text-transform: uppercase;
}

h2 {
  margin-bottom: 2rem;
  font-family: 'Manrope', sans-serif;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 0.225rem;
  text-transform: capitalize;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}

strong {
  font-weight: 700;
}

.line {
  position: relative;
  left: 0;
  height: 4px;
  background: linear-gradient(
                  to right,
                  $green 0%,
                  $green 75%,
                  $red 75%,
                  $red
  ) no-repeat 0 100%;
  border-radius: 99px;

}

.list-section {
  position: relative;
  margin-left: 2rem;
}

.list-section::before {
  content: ''; /* Required for pseudo-elements */
  position: absolute;
  top: -1rem;
  left: -4rem;
  bottom: -1rem;
  width: 30px; /* Adjust the width of the shadow as needed */
  box-shadow: 10px 0 10px -10px $red; /* Adjust the shadow properties as needed */
}