body {
  @include paragraph;
  position: relative;
  margin: 0;
  padding: 0;
  background-color: $baby-powder;
  color: $black;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  min-height: calc(100vh - $footer-height - $nav-height);
  overflow: auto;
  flex: 1;
  padding: $spacing-03;
  .container {
    margin-top: $nav-height;
  }
}

::-webkit-scrollbar {
  display: none;
}

main:has(.homepage) {
  overflow: visible; /* This will enable vertical scrolling if content exceeds viewport height */
}

p {
  margin-bottom: 1.5rem;
}

.thumbnail {
  background: none;
  position: relative;
  width: 7.5rem;
  height: 7.5rem;
  border-radius: 0.625rem;
  box-shadow: 0px 4px 4px 0px rgba($red, 0.25);
  text-align: center;
  line-height: 150%;
  overflow: hidden;

  &--dark {
    background: $black;
  }

  &--light {
    background: $white;
  }

  &:focus, &:hover {
    box-shadow: 0px 4px 4px 0px rgba(148, 1, 1, 0.5);

    .background {
      opacity: 1;
    }

  }

  .project-logo,
  .client-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 90%;
    min-width: 90%;
    width: 90%;
    max-height: 90%;
  }

}

img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

a:not(.navbar-brand) {
  text-decoration: none;
}

.fa {
  margin-right: 10px;
}

h1 {
  margin-bottom: $spacing-05;
}

h2, h3, h4, h5, h6 {
  margin-bottom: $spacing-04;
  line-height: 1.05;

  &:first-child {
    margin-top: 0;
  }
}

h1 {
  @include header1;
}

h2 {
  @include header2;
}

h3 {
  @include header3;
}

strong {
  font-weight: 700;
}

a {
  @include link;
}

.navbar-brand {
  background: none !important;
}

.list-section {
  position: relative;
  margin-left: 2rem;
}

.list-section::before {
  content: ''; /* Required for pseudo-elements */
  position: absolute;
  top: -1rem;
  left: -4rem;
  bottom: -1rem;
  width: 30px; /* Adjust the width of the shadow as needed */
  box-shadow: 10px 0 10px -10px $red; /* Adjust the shadow properties as needed */
}