.about {
  &--content {
    position: relative; /* Set position to relative for pseudo-element positioning */
    border-right: 1px solid #F4EDE2;
    padding-right: 2rem;

    &::after {
      content: ''; /* Required for pseudo-elements */
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      width: 30px; /* Adjust the width of the shadow as needed */
      box-shadow: 10px 0 10px -10px $red; /* Adjust the shadow properties as needed */
    }
  }

  .partners,
  .team {
    margin-bottom: 3rem;

    &-profiles {
      display: flex;
      justify-content: space-between; /* Adjust the alignment as needed */
      padding: 0; /* Remove default padding */
      flex-wrap: wrap;

      ul {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        list-style: none;
        text-align: left; /* Align text to the left */
        max-width: 30%;
        min-width: 200px;
        padding: 0 2rem 2rem 0;

        li {
          display: contents;

          h2 {
            height: unset;
          }
        }
      }

      img {
        width: 200px; /* Make sure all images take up the full width of their container */
        max-width: 200px; /* Ensure the images don't exceed their original size */
        height: auto; /* Maintain the aspect ratio of the images */
      }

      h2 {
        margin-bottom: 10px; /* Adjust the margin as needed */
        height: 4rem;
        display: table-cell;
        vertical-align: bottom;
      }

      ul > li > h2:first-of-type {
        margin-bottom: 0 !important;
      }
      ul > li > h2:not(:first-of-type) {
        margin-bottom: 1rem !important;
      }
    }
  }

  .registration {
    text-align: right;
  }
}

