.event-page {
  h1, a.icon-link {
    display: inline-block;
    vertical-align: middle;
  }
  a.icon-link {
    height: 1.5rem;
    width: 1.5rem;
    background: none;
    i {
      display: block;
      color: inherit;
      &:hover {
        color: $red;
      }
    }
  }
}