.featured_projects {
    padding-left: 0;
    margin-bottom: 3rem;
    list-style: none;
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    gap: 1.25rem;
    flex-wrap: wrap;
    background-color: hotpink;
    li > a {
        background: none !important;
    }
}