.homepage {
  @media (min-width: 992px) {
    position: relative;
    min-height: 50vh;
    top: 30%;
    .section-links {
      background-color: $white;
      box-shadow: 0 0 20px -10px $red;
      padding-top: 15rem;
      padding-left: 2rem;
      margin-top: -12rem;
      margin-bottom: -6rem;
      overflow-y: hidden;
      box-sizing: border-box;
    }
    .section-clients {
      padding: 2rem;
    }
  }
  @media (max-width: 991px) {
    display: block;
    overflow: scroll;
    .section-links {
      position: relative;
      background-color: $white;
      padding: 2rem;
    }
    .section-clients {
      padding: 2rem;
    }
  }

  .section-links {
    .line {
      width: 75%;
      left: -2.1rem;
      margin-bottom: 2rem;
    }

    .links-container {
      display: flex;
      flex-direction: column;

      .section-link {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 1rem 0;
        max-width: 100%;

        &--text {
          font-family: 'Manrope', sans-serif;
          color: $black;
          text-decoration: none;
          font-size: 1.5rem;
          font-style: normal;
          line-height: normal;
          font-weight: 300;
          letter-spacing: 0.225rem;
          overflow: hidden;
          text-overflow: ellipsis;
          padding-left: 1rem;
          text-transform: uppercase;

          &_red-on-hover:hover {
            color: $red;
          }

          &_green-on-hover:hover {
            color: $green;
          }
        }

        &--icon {
          min-width: 4.75rem;
          height: 3.75rem;
          background-repeat: no-repeat;
          background-position: center;
        }
      }
    }
  }

  #oa-logo {
    background-image: url("../images/icons/icon-OA.svg");
  }

  a.section-link:hover > div#oa-logo {
    background-image: url("../images/icons/icon-OA-hover.svg");
  }

  #bd-logo {
    background-image: url("../images/icons/icon-BD.svg");
  }

  a.section-link:hover > div#bd-logo {
    background-image: url("../images/icons/icon-BD-hover.svg");
  }

  #dr-logo {
    background-image: url("../images/icons/icon-DR.svg");
  }

  a.section-link:hover > div#dr-logo {
    background-image: url("../images/icons/icon-DR-hover.svg");
  }

  #dv-logo {
    background-image: url("../images/icons/icon-DV.svg");
  }

  a.section-link:hover > div#dv-logo {
    background-image: url("../images/icons/icon-DV-hover.svg");
  }

  @keyframes moveCarousel {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-30rem);
    }
  }

  .section-clients {
    h2 {
      text-align: center;
    }

    .clients-logos-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 1.25rem;
      transition: opacity .5s ease-in;
      margin: auto;

      .clients-logo {
        padding: 1.25rem 1.25rem;
      }
    }
  }

}

@keyframes fadeInOut {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}