body {
  background-color: #FFFCF8;
  font-family: Montserrat, sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #333333; }

p {
  margin-bottom: 3rem; }

a {
  text-decoration: none;
  color: #333333; }

a:hover {
  color: #940101; }

.fa {
  margin-right: 10px; }

h1 {
  margin-bottom: 2rem;
  font-family: 'Manrope', sans-serif;
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2rem;
  /* 85.714% */
  text-transform: uppercase; }

h2 {
  margin-bottom: 2rem;
  font-family: 'Manrope', sans-serif;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 0.225rem;
  text-transform: capitalize; }

h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase; }

strong {
  font-weight: 700; }

.list-section {
  position: relative;
  margin-left: 2rem; }

.list-section::before {
  content: '';
  /* Required for pseudo-elements */
  position: absolute;
  top: -1rem;
  left: -4rem;
  bottom: -1rem;
  width: 30px;
  /* Adjust the width of the shadow as needed */
  box-shadow: 10px 0 10px -10px #BE1242;
  /* Adjust the shadow properties as needed */ }

nav {
  background: linear-gradient(180deg, rgba(96, 62, 31, 0.2) 0%, rgba(190, 18, 66, 0) 64.94%);
  margin-bottom: 3rem;
  z-index: 1000; }
  nav .container {
    display: flex;
    align-items: center;
    justify-content: space-around; }
  nav .nav-links {
    display: flex;
    width: 50%;
    justify-content: flex-end; }
  nav .nav-link {
    z-index: 1;
    text-decoration: none;
    color: #333333;
    text-align: right; }
    nav .nav-link:focus, nav .nav-link:hover {
      color: #940101; }
  nav #logo {
    position: relative;
    max-height: 7rem;
    z-index: 1000; }

footer {
  position: absolute;
  width: 100%; }
  footer .container {
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: space-between;
    z-index: 100;
    background: #FFFCF8;
    bottom: 0;
    height: max-content;
    padding: 1rem; }

.tag {
  display: flex;
  padding: 0.3125rem 0.625rem;
  align-items: flex-start;
  gap: 0.625rem;
  border-radius: 0.625rem;
  width: max-content;
  color: #FFFCF8; }
  .tag:hover {
    color: #FFFCF8; }
  .tag--red {
    background: #940101; }
    .tag--red:hover {
      background: #940101E6; }
  .tag--green {
    background: #5D5E3E; }
    .tag--green:hover {
      background: #5D5E3EE6; }
  .tag--brown {
    background: #603E1F; }
    .tag--brown:hover {
      background: #603E1FE6; }
  .tag--read-more {
    float: right; }
  .tag a {
    color: #FFFCF8 !important;
    font-weight: bold; }

.project-thumbnail {
  position: relative;
  width: 7.5rem;
  height: 7.5rem;
  border-radius: 0.625rem;
  box-shadow: 0px 4px 4px 0px rgba(190, 18, 66, 0.25);
  text-align: center;
  line-height: 150%;
  overflow: hidden; }
  .project-thumbnail .background {
    height: 100%;
    width: 100%;
    opacity: 0.5;
    transition: opacity 0.3s ease; }
  .project-thumbnail .project-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 6.75rem;
    height: auto;
    max-height: 5.7rem; }
  .project-thumbnail:focus, .project-thumbnail:hover {
    box-shadow: 0px 4px 4px 0px rgba(190, 18, 66, 0.5); }
    .project-thumbnail:focus .background, .project-thumbnail:hover .background {
      opacity: 1; }

.featured_projects {
  padding-left: 0;
  margin-bottom: 3rem;
  list-style: none;
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  gap: 1.25rem;
  flex-wrap: wrap; }

@media (min-width: 992px) {
  .homepage {
    position: relative;
    min-height: 74vh;
    top: 30%; }
    .homepage .section-links {
      background-color: #ffffff;
      box-shadow: 0 0 20px -10px #940101;
      padding-top: 15rem;
      margin-top: -12rem; } }
@media (max-width: 991px) {
  .homepage {
    display: block; }
    .homepage .section-links {
      position: relative;
      background-color: #ffffff;
      padding: 2rem; } }
.homepage .links-container {
  display: flex;
  flex-direction: column; }
  .homepage .links-container .section-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1rem 0;
    max-width: 100%; }
    .homepage .links-container .section-link--text {
      font-family: 'Manrope', sans-serif;
      font-size: 1.5rem;
      font-style: normal;
      line-height: normal;
      font-weight: 300;
      letter-spacing: 0.225rem;
      overflow: hidden;
      text-overflow: ellipsis;
      padding-left: 1rem;
      text-transform: uppercase; }
    .homepage .links-container .section-link--icon {
      min-width: 4.75rem;
      height: 3.75rem;
      background-repeat: no-repeat;
      background-position: center; }
    .homepage .links-container .section-link:hover > span.section-link--text {
      color: #940101; }
.homepage #oa-logo {
  background-image: url("../images/icons/icon-OA.svg"); }
.homepage a.section-link:hover > div#oa-logo {
  background-image: url("../images/icons/icon-OA-hover.svg"); }
.homepage #bd-logo {
  background-image: url("../images/icons/icon-BD.svg"); }
.homepage a.section-link:hover > div#bd-logo {
  background-image: url("../images/icons/icon-BD-hover.svg"); }
.homepage #dr-logo {
  background-image: url("../images/icons/icon-DR.svg"); }
.homepage a.section-link:hover > div#dr-logo {
  background-image: url("../images/icons/icon-DR-hover.svg"); }
.homepage #dv-logo {
  background-image: url("../images/icons/icon-DV.svg"); }
.homepage a.section-link:hover > div#dv-logo {
  background-image: url("../images/icons/icon-DV-hover.svg"); }
@media (min-width: 992px) {
  .homepage #section-clients {
    padding: 3rem 3rem 1rem 3rem; }
    .homepage #section-clients .content {
      width: 25rem;
      margin: auto; } }
@media (max-width: 991px) {
  .homepage #section-clients {
    position: relative;
    padding: 2rem; }
    .homepage #section-clients .content {
      width: 100vw;
      margin: auto; } }
.homepage .clients-logos {
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  gap: 1.25rem;
  flex-wrap: wrap;
  margin: auto; }
.homepage .clients-logo {
  width: 7.5rem;
  height: 7.5rem;
  padding: 1.25rem 1.25rem;
  border-radius: 0.625rem;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0px 4px 4px 0px rgba(190, 18, 66, 0.25); }

.about--content {
  position: relative;
  /* Set position to relative for pseudo-element positioning */
  border-right: 1px solid #F4EDE2;
  padding-right: 2rem; }
  .about--content::after {
    content: '';
    /* Required for pseudo-elements */
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 30px;
    /* Adjust the width of the shadow as needed */
    box-shadow: 10px 0 10px -10px #BE1242;
    /* Adjust the shadow properties as needed */ }
.about .partners {
  margin-bottom: 3rem; }
  .about .partners-profiles {
    display: flex;
    justify-content: space-around;
    /* Adjust the alignment as needed */
    padding: 0;
    /* Remove default padding */ }
    .about .partners-profiles ul {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      list-style: none;
      gap: .5rem;
      text-align: left;
      /* Align text to the left */ }
    .about .partners-profiles img {
      width: 200px;
      /* Make sure all images take up the full width of their container */
      max-width: 200px;
      /* Ensure the images don't exceed their original size */
      height: auto;
      /* Maintain the aspect ratio of the images */ }
    .about .partners-profiles h2 {
      margin-bottom: 10px;
      /* Adjust the margin as needed */
      height: 4rem;
      display: table-cell;
      vertical-align: bottom; }
    .about .partners-profiles ul > li > h2 {
      margin-bottom: 0 !important; }
.about .registration {
  text-align: right; }

.related_technologies {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-bottom: 3rem; }

.technologies-browser {
  list-style: none;
  display: flex;
  justify-content: stretch;
  flex-wrap: wrap;
  gap: .5rem;
  padding-left: 0;
  margin-bottom: 3rem; }
  .technologies-browser .technology {
    display: flex;
    height: 2.875rem;
    padding: 0.625rem .75rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem; }
    .technologies-browser .technology.active {
      border-left: 4px solid #940101;
      background: linear-gradient(90deg, rgba(190, 18, 66, 0.2) 1.9%, rgba(190, 18, 66, 0) 100%); }
      .technologies-browser .technology.active a {
        font-weight: 700; }
    .technologies-browser .technology a {
      color: #603E1F;
      text-align: center;
      font-family: 'Montserrat', sans-serif;
      font-size: 1rem;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      text-transform: capitalize; }

.explore-more--content {
  position: relative;
  /* Set position to relative for pseudo-element positioning */ }
  .explore-more--content::before {
    content: '';
    /* Required for pseudo-elements */
    position: absolute;
    top: 0;
    left: -20px;
    bottom: 0;
    width: 30px;
    /* Adjust the width of the shadow as needed */
    box-shadow: -10px 0 10px -10px #BE1242;
    /* Adjust the shadow properties as needed */ }
.explore-more--section {
  overflow: hidden; }
  .explore-more--section a {
    margin-top: 1rem; }

.project-page--section {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding-top: 1rem;
  align-items: flex-start; }
  .project-page--section .project-logo {
    max-width: 25%;
    max-height: 6rem;
    min-height: 4rem;
    width: auto; }
  .project-page--section .icon {
    padding-right: 1rem; }
  .project-page--section--text {
    flex-basis: 50%;
    padding: 2rem 1rem; }
    .project-page--section--text.red {
      border-left: 5px solid #940101; }
      .project-page--section--text.red h2 {
        color: #940101; }
    .project-page--section--text.green {
      border-left: 5px solid #5D5E3E; }
      .project-page--section--text.green h2 {
        color: #5D5E3E; }
    .project-page--section--text.brown {
      border-left: 5px solid #603E1F; }
      .project-page--section--text.brown h2 {
        color: #603E1F; }
  .project-page--section--screenshot {
    flex-grow: 1; }
    .project-page--section--screenshot .screenshot {
      border-radius: 0.625rem;
      box-shadow: 0px 4px 4px 0px rgba(96, 62, 31, 0.25);
      width: 600px;
      height: 300px; }
.project-page--intro {
  margin-bottom: 3rem; }

#background {
  position: absolute;
  right: 20rem;
  top: 10rem;
  z-index: -1;
  opacity: 0.5; }

/*# sourceMappingURL=main.css.map */
