.featured_projects {
  padding-left: 0;
  margin-bottom: 3rem;
  list-style: none;
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  gap: 1.25rem;
  flex-wrap: wrap;
  li > a {
    background: $white;
    &:has(.project-thumbnail--NIMS-MDR),
    &:has(.project-thumbnail--oaworks) {
      background-color: $black !important;
    }

  }

  &--tag-name {
    text-transform: uppercase;
    font-weight: 700;
  }
}