footer {
  position: absolute;
  width: 100%;
  .container {
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: space-between;
    z-index: 100;
    background: $baby-powder;
    bottom: 0;
    height: max-content;
    padding: 1rem;
  }
}