footer {
  position: relative;
  z-index: 3;
  width: 100%;
  padding: 1.5rem 0;
  min-height: $footer-height;
  margin-top: -5rem;
  background: $black;
  color: $white;

  p:not(:last-child) {
    margin-bottom: 1rem !important;
  }
  p:last-child {
    margin-bottom: 0 !important;
  }

  .container {
    position: relative;
    height: max-content;

    #cottage-shape {
      position: absolute;
      top: -97px;
      right: 0;
      width: 100px;
      height: 100px;
    }

    .contact {
      padding-left: 1.75rem;

      a {
        color: $white;
        text-decoration: none;
        .fa {
          margin-right: 0;
        }

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .registration {
      text-align: right;
    }
  }
}