footer {
  position: relative;
  z-index: 100;
  width: 100%;
  padding: 1.5rem 0;
  min-height: $footer-height;
  background: $black;
  color: $white;

  p:not(:last-child) {
    margin-bottom: 1rem !important;
  }
  p:last-child {
    margin-bottom: 0 !important;
  }

  .container {
    position: relative;
    height: max-content;

    #cottage-shape {
      position: absolute;
      top: auto;
      bottom: 100%;
      right: 0;
      display: block;
      width: 100px;
      height: 100px;

      @media (max-width: $breakpoint-lg) {
        bottom: calc(100% + 0.12*1rem);
      }
    }

    .contact {
      padding-left: 1.75rem;

      a {
        color: $white;
        text-decoration: none;
        .fa {
          margin-right: 0;
        }

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .registration {
      text-align: right;
    }
  }
}