nav {
  position: fixed !important;
  top: 0;
  width: 100%;
  background-image: $nav-gradient;
  background-color: $baby-powder;
  height: $nav-height;
  padding: 0;
  z-index: 1;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .nav-links {
    display: flex;
    width: 50%;
    justify-content: flex-end;

  }

  .dropdown-section {
    padding-left: 1rem;
    &--header {
      font-family: inherit;
      text-transform: uppercase;
      font-weight: 600;
      color: $green;
    }
  }
  .nav-link {
    @include underline_on_hover;
    z-index: 1;
    color: $black;
    text-align: right;

    img {
      width: 24px;
      vertical-align: text-bottom;

      &:focus, &:hover {
        filter: invert(7%) sepia(100%) saturate(5458%) hue-rotate(360deg) brightness(91%) contrast(107%);
      }
    }
  }

  a.dropdown-item {
    @include underline_on_hover;
  }

  .dropdown-menu {
    width: max-content;
  }

  .dropdown:first-of-type > .dropdown-menu {
    left: 0;
  }

  .dropdown:last-of-type > .dropdown-menu {
    right: 0;
  }

  #logo {
    position: relative;
    max-height: $logo-size;
    z-index: 1000;
  }

}

@media (max-width: $breakpoint-xl) {
  .navbar-nav {
    background-color: $white;
    display: flex;
    height: max-content;
    padding: $spacing-03;
    border: #dee2e6 1px solid;
    border-radius: $border-radius;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Simple shadow */
    a {
      @include link;
    }
  }

  .dropdown-menu {
    border: none;
  }
}
