nav {
  position: fixed !important;
  top: 0;
  width: 100%;
  background-image: $nav-gradient;
  background-color: $baby-powder;
  height: $nav-height;
  padding: 0;
  z-index: 1;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .nav-links {
    display: flex;
    width: 50%;
    justify-content: flex-end;

  }

  .nav-link {
    @extend .underline_on_hover;
    z-index: 1;
    color: $black;
    text-align: right;

    img {
      width: 24px;
      vertical-align: text-bottom;

      &:focus, &:hover {
        filter: invert(7%) sepia(100%) saturate(5458%) hue-rotate(360deg) brightness(91%) contrast(107%);
      }
    }
  }

  #logo {
    position: relative;
    max-height: 7rem;
    z-index: 1000;
  }
}

@media (max-width: 991px) {
  .navbar-nav {
    background-color: $white;
    display: flex;
    width: 100vw;
    height: max-content;
    padding: 1rem;
    border: #dee2e6 1px solid;
    border-radius: 0.625rem;
    a {
      font-size: 1.75rem;
    }
  }

  .dropdown-menu {
    border: none;
  }
}
