.or24 {
  width: 100%;
  border: $red solid 3px;
  border-radius: 0.625rem;
  background-color: white;
  text-align: center;
  padding: 1rem;
  margin-bottom: 1rem;

}

.or24-content {
  .or24-background {
    @media (max-width: $breakpoint-lg) {
      display: none !important;
    }
  }

  ul {
    padding-left: 0.85rem;

    li {
      margin-bottom: 1.5rem;
      //list-style: none;
    }
  }
}