.or24 {
  width: 100%;
  border: $red solid 3px;
  border-radius: 0.625rem;
  background-color: white;
  text-align: center;
  padding: 1rem;
  margin-bottom: 1rem;

  a {
    @extend .change_underline_color_on_hover;
    color: $black;
  }

  &-content {

    a {
      @extend .change_underline_color_on_hover;
      color: $black;
      line-height: 150%;
    }

    ul {
      padding-left: 0;
      li {
        margin-bottom: 1rem;
        list-style: none;
      }
    }
  }
}