footer {
  position: sticky;
  bottom: 0;
  @media (min-width: 992px) {
    .container {
      display: flex;
      flex-direction: row;
      align-items: end;
      justify-content: space-between;
      background: #FFFCF8;
      position: absolute;
      height: max-content;
      margin-bottom: 0;
    }
  }
  @media (max-width: 991px) {
    .container {
      display: block;
      background: #FFFCF8;
      position: absolute;
      height: max-content;
      margin-bottom: 0;
    }
  }
}