$white: #ffffff;
$baby-powder: #FFFCF8;
$red: #940101;
$redwood: #A76968;
$green: #005500;
$sage: #a5ae9d;
$brown: #5A3F40;
$rosy-brown: #BEA6A0;
$blue: #005b93;
$moonstone: #67A6D1;
$black: #333333;
$nav-gradient: linear-gradient(180deg, rgba(96, 62, 31, .2) 0%, rgba(255, 252, 248, 1) 100%);