$white: #ffffff;
$linen: #F4EDE2;
$baby-powder: #FFFCF8;
$red: #BE1242;
$red_transp: #BE1242E6;
$green: #5D5E3E;
$green_transp: #5D5E3EE6;
$brown: #603E1F;
$brown_transp: #603E1FE6;
$black: #000000;

$nav-gradient: linear-gradient(180deg, rgba(190, 18, 66, 0.20) 0%, rgba(190, 18, 66, 0.00) 64.94%);