$white: #ffffff;
$baby-powder: #FFFCF8;
$red: #940101;
$red_transp: #940101E6;
$green: #5D5E3E;
$green_transp: #5D5E3EE6;
$brown: #603E1F;
$brown_transp: #603E1FE6;
$cool-grey: #848FA5;
$cool-grey_transp: #848FA5E6;
$black: #333333;
// #E5DCC5
$nav-gradient: linear-gradient(180deg, rgba(96, 62, 31, 0.20) 0%, rgba(190, 18, 66, 0.00) 64.94%);