<h2>Trusted partners with</h2>
<div class="carousel-wrapper">
    <div class="clients-logos set-1">
        <img class="clients-logo thumbnail" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/clients/antleaf.jpg" alt="Antleaf">
        <img class="clients-logo thumbnail" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/clients/cambridge.jpg"
             alt="University of Cambridge">
        <img class="clients-logo thumbnail" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/clients/cern.png" alt="CERN">
        <img class="clients-logo thumbnail" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/clients/crossref.svg" alt="Crossref">
        <img class="clients-logo thumbnail" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/clients/deepgreen.svg"
             alt="DeepGreen">
        <img class="clients-logo thumbnail" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/clients/doaj.svg"
             alt="Directory of Open Access Journals">
        <img class="clients-logo thumbnail" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/clients/eui.svg" alt="EUI">
        <img class="clients-logo thumbnail" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/clients/jisc.svg" alt="Jisc">
        <img class="clients-logo thumbnail" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/clients/materiom.png" alt="Materiom">
    </div>
    <div class="clients-logos set-2">
        <img class="clients-logo thumbnail" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/clients/nims.png" alt="NIMS">
        <img class="clients-logo thumbnail" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/clients/oaworks.svg" alt="OA.Works">
        <img class="clients-logo thumbnail" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/clients/oxford.svg"
             alt="University of Oxford">
        <img class="clients-logo thumbnail" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/clients/plans.svg" alt="cOAlition S">
        <img class="clients-logo thumbnail" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/clients/sparc.png" alt="Sparc">
        <img class="clients-logo thumbnail" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/clients/uio.svg"
             alt="University of Oslo">
        <img class="clients-logo thumbnail" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/clients/uoh.svg"
             alt="University of Hull">
        <img class="clients-logo thumbnail" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/clients/wellcome.svg"
             alt="Wellcome Trust">
        <img class="clients-logo thumbnail" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/clients/wna.svg"
             alt="World Nuclear Association">
    </div>
</div>