<h2>Trusted partners with</h2>
<div class="clients-logos-container">
    <a href="http://antleaf.com/" title="Antleaf" target="_blank">
        <div class="thumbnail thumbnail--light">
            <img class="client-logo" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/clients/antleaf.jpg"
                 alt="Antleaf">
        </div>
    </a>
    <a href="https://home.cern/" title="CERN" target="_blank">
        <div class="thumbnail thumbnail--light">
            <img class="client-logo" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/clients/cern.png" alt="CERN">
        </div>
    </a>
    <a href="https://www.coalition-s.org/" title="cOAlition S" target="_blank">
        <div class="thumbnail thumbnail--dark">
            <img class="client-logo" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/clients/plans.svg"
                 alt="cOAlition S">
        </div>
    </a>
    <a href="https://www.crossref.org/" title="Crossref" target="_blank">
        <div class="thumbnail thumbnail--light">
            <img class="client-logo" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/clients/crossref.svg"
                 alt="Crossref">
        </div>
    </a>
    <a href="https://info.oa-deepgreen.de/en/" title="DeepGreen" target="_blank">
        <div class="thumbnail thumbnail--light">
            <img class="client-logo" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/clients/DeepGreen.svg"
                 alt="DeepGreen">
        </div>
    </a>
    <a href="https://doaj.org/" title="Directory of Open Access Journals" target="_blank">
        <div class="thumbnail thumbnail--light">
            <img class="client-logo" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/clients/doaj.svg"
                 alt="Directory of Open Access Journals">
        </div>
    </a>
    <a href="https://www.eui.eu/en/home" title="EUI" target="_blank">
        <div class="thumbnail thumbnail--light">
            <img class="client-logo" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/clients/eui.svg" alt="EUI">
        </div>
    </a>
    <a href="https://www.hull.ac.uk/" title="University of Hull" target="_blank">
        <div class="thumbnail thumbnail--dark">
            <img class="client-logo" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/clients/uoh.svg"
                 alt="University of Hull">
        </div>
    </a>
    <a href="http://jisc.ac.uk/" title="Jisc" target="_blank">
        <div class="thumbnail thumbnail--light">
            <img class="client-logo" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/clients/jisc.svg" alt="Jisc">
        </div>
    </a>
    <a href="https://materiom.org/" title="Materiom" target="_blank">
        <div class="thumbnail thumbnail--light">
            <img class="client-logo" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/clients/materiom.png"
                 alt="Materiom">
        </div>
    </a>
    <a href="https://www.nims.go.jp/eng/" title="NIMS" target="_blank">
        <div class="thumbnail thumbnail--light">
            <img class="client-logo" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/clients/nims.png" alt="NIMS">
        </div>
    </a>
    <a href="https://oa.works/" title="OA.Works" target="_blank">
        <div class="thumbnail thumbnail--dark">
            <img class="client-logo" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/clients/oaworks.svg"
                 alt="OA.Works">
        </div>
    </a>
    <a href="http://ox.ac.uk/" title="University of Oxford" target="_blank">
        <div class="thumbnail thumbnail--light">
            <img class="client-logo" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/clients/oxford.png"
                 alt="University of Oxford">
        </div>
    </a>
    <a href="https://sparcopen.org/" title="Sparc" target="_blank">
        <div class="thumbnail thumbnail--light">
            <img class="client-logo" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/clients/sparc.png" alt="Sparc">
        </div>
    </a>
    <a href="http://wellcome.ac.uk/" title="Wellcome Trust" target="_blank">
        <div class="thumbnail thumbnail--light">
            <img class="client-logo" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/clients/wellcome.svg"
                 alt="Wellcome Trust">
        </div>
    </a>
    <a href="http://world-nuclear.org/" title="World Nuclear Association" target="_blank">
        <div class="thumbnail thumbnail--light">
            <img class="client-logo" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/clients/wna.png"
                 alt="World Nuclear Association">
        </div>
    </a>
    <a href="https://www.uio.no/" title="University of Oslo" target="_blank">
        <div class="thumbnail thumbnail--dark">
            <img class="client-logo" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/clients/uio.svg"
                 alt="University of Oslo">
        </div>
    </a>
    <a href="https://www.cam.ac.uk/" title="University of Cambridge" target="_blank">
        <div class="thumbnail thumbnail--light">
            <img class="client-logo" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/clients/cambridge.jpg"
                 alt="University of Cambridge">
        </div>
    </a>

</div>
</div>