{% set tags_titles =
    {
        "datavisualisation": "Data Visualisation",
        "invenio": "Invenio",
        "samvera": "Samvera",
        "search": "Search Technologies",
        "api": "API",
        "oai": "Open Access Infrastructure",
        "dr": "Data Repositories",
        "python": "Python",
        "oaipmh": "OAI-PMH",
        "cloud": "Cloud Storage",
        "archivematica": "Archivematica",
        "dspace": "DSpace",
        "js": "JavaScript",
        "ruby": "Ruby",
        "standards": "Standards"
    }
%}