$white: #ffffff;
$linen: #F4EDE2;
$baby-powder: #FFFCF8;
$red: #BE1242;
$red_transp75: #BE12424B;
$green: #5D5E3E;
$green_transp75: #5D5E3E4B;
$brown: #603E1F;
$brown_transp75: #603E1F4B;
$black: #000000;

$nav-gradient: linear-gradient(180deg, rgba(190, 18, 66, 0.20) 0%, rgba(190, 18, 66, 0.00) 64.94%);