footer {
  z-index: 100;
  width: 100%;
  padding: 1rem;
  min-height: 4rem;
  margin-top: auto;
  .container {
    height: max-content;
    a {
      color: $black;
      text-decoration: none;
      &:hover {
        color: $red;
        text-decoration: none;
      }
    }
    .contact {
      padding-left: 1.75rem;
    }
  }
}