nav {
    background: $nav-gradient;
    margin-bottom: 3rem;
    z-index: 1000;
    .container {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    .nav-links {
        display: flex;
        width: 50%;
        justify-content: flex-end;

    }

    .nav-link {
        z-index: 1;
        text-decoration: none;
        color: #000;
        text-align: right;
        &:focus, &:hover {
            color: $red;
        }
    }
    #logo {
        position: relative;
        max-height: 7rem;
        z-index: 1000;

    }
}
