.tag {
    display: flex;
    padding: 0.3125rem 0.625rem;
    align-items: flex-start;
    gap: 0.625rem;
    border-radius: 0.625rem;
    width: max-content;

    &--red {
        background: $red;
        &:hover {
            background: $red-transp75;
        }
    }

    a {
        color: $baby-powder !important;
        font-weight: bold;
    }
}
