.tag {
    display: flex;
    padding: .5rem 3rem;
    align-items: flex-start;
    gap: 0.625rem;
    border-radius: 3rem;
    width: max-content;
    color: $baby-powder;

    &:hover {
        color: $baby-powder;
    }

    &--red {
        background: $red;
        &:hover {
            background: $redwood;
        }
    }

    &--green {
        background: $green;
        &:hover {
            background: $sage;
        }
    }

    &--brown {
        background: $brown;
        &:hover {
            background: $rosy-brown;
        }
    }

    &--blue {
        background: $blue;
        &:hover {
            background: $moonstone;
        }
    }

    &--read-more {
        float: left;
        max-width: 100%;
    }

    &--see-in-projects {
        float: left;
    }

    a {
        color: $baby-powder !important;
        font-weight: bold;
    }
}
